@import "../../../../assets/theme.scss";

.mat-dialog-title {
  display: flex;
  flex-direction: column;

  .container-header {
    display: flex;
    justify-content: space-between;

    .title-modal {
      font-size: 30px;
      font-weight: 600;
      line-height: 1.5;
    }

    .favorite {
      color: $favorite-color;
    }
  }
}

.mat-dialog-content {
  display: grid;
  min-width: 380px;
  height: 500px;
  padding: 0;
  overflow-y: hidden;

  .container-accordion {
    height: 100%;
    padding: 10px;
    overflow-y: auto;

    .album-title {
      font-size: 18px;
      font-weight: 650;
      margin-right: 8px;
    }
  }

  .hidden-loading {
    visibility: hidden;
  }
}

.not-data {
  box-shadow: 1px 1px 6px -2px grey;
  padding: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  align-self: center;
}
