@import "../../../assets/theme.scss";

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  background-color: $secondary-color;
  color: white;
  box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.12);
}

.content-image-artist {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
  width: 100%;
  height: auto;
  background-image: url("../../../assets/images/artista.jpg");
  position: relative;

  > *:not(.background-contrast) {
    z-index: 1;
    padding: 10px;
  }
}

.background-contrast {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #0000007a;
}

.content-image-artist h2 {
  margin-top: 16px;
}

.launch-country,
.content-data,
.content-date {
  display: flex;
  justify-content: space-between;
}

.country {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.country img {
  max-width: 30px;
  margin-right: 5px;
}
