<div class="card">
  <div class="content-image-artist">
    <div class="background-contrast"></div>
    <div class="launch-country">
      <div class="country">
        <img src="../../assets/images/venezuela.png" alt="" />
        <div>{{ data.artist_country }}</div>
      </div>
      <button
        [class.favorite]="data.is_favorite"
        (click)="addFavorite.emit(data.artist_id)"
        mat-icon-button
        matTooltip="Agregar a favoritos"
      >
        <mat-icon> favorite </mat-icon>
      </button>
    </div>
    <h2>{{ data.artist_name }}</h2>
    <div class="content-date">
      <div>{{ data.begin_date | date: "mediumDate" }}</div>
    </div>
  </div>
  <div class="content-data">
    <a
      class="btn-twitter"
      [class.disable-twitter]="!data.artist_twitter_url"
      [href]="data.artist_twitter_url"
      target="_blank"
    >
      <mat-icon>
        <img
          style="width: 24px"
          src="../../assets/images/twitter_icon.png"
          alt=""
        />
      </mat-icon>
    </a>
    <button (click)="openDetails.emit(data)" mat-icon-button matTooltip="Ver más">
      <mat-icon> add </mat-icon>
    </button>
  </div>
</div>
