@import '../../../assets/theme.scss';
.card{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: $secondary-color;
    padding: 0px 10px 10px 10px;
    color: white;
    margin: 20px 10px;
    box-shadow: 5px 5px 8px  2px rgba(0, 0, 0, 0.12);
}

.content-image-artist{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 0px 0px 10px 0px;
    background-image: url('../../../assets/images/artista.jpg');
}

.content-image-artist h2{
    margin-top: 16px;
}

.launch-country, .content-data{
    display:flex;
    justify-content: space-between;
    width: 100%;
}

.country{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.country img{
 max-width: 30px;
 margin-right: 5px;
}