@import '../../../assets/theme.scss';
.card{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: $secondary-color;
    padding: 20px 30px;
    color: white;
    max-width: 200px;
    margin: 30px 20px;
    box-shadow: 5px 5px 8px  2px rgba(0, 0, 0, 0.12);
}

.card-img{
    width: 100%;
    max-width: 100px;
    border-radius: 50%;

}

.launch-country, .content-data{
    display:flex;
    justify-content: space-between;
    width: 100%;
}

.country{
    display:flex;
    justify-content: space-between;
    width: 30%;
}
.country img{
 max-width: 30px;
}