<div class="card">
        <button mat-icon-button>
            <mat-icon>
                favorite
            </mat-icon>
        </button>
    <h2>Shakira</h2>
    <div class="launch-country">
        <div>18/12/2019</div>
        <div class="country">
            <div>VE</div>
            <img src="../../assets/images/venezuela.png" alt="">
        </div>
    </div>
    <img class="card-img" src="../../assets/images/artista.jpg" alt="">
    <div class="content-data">
            <button mat-icon-button>
                    <mat-icon>
                        twitter
                    </mat-icon>
                </button>
                <button mat-mini-fab>
                        <mat-icon>
                            add
                        </mat-icon>
                    </button>
    </div>
</div>