<div class="container-header">
  <div class="container-logo">
    <img
      class="logo-img"
      src="../../../assets/images/logo_aranda.png"
      alt="logo"
    />
  </div>
  <div class="power-by-container">
    <span>Power by</span>
    <img
      class="power-by-img"
      src="../../../assets/images/musixmatch.png"
      alt="logo"
    />
  </div>
</div>
<div class="container-search">
  <div class="current-title">
    {{ titleType[listType] }}
    <div class="container-favorites mobile">
      <ng-container *ngTemplateOutlet="favoriteRef"> </ng-container>
    </div>
  </div>
  <app-search-bar (sendValue)="search($event)"></app-search-bar>
  <div class="container-favorites desktop">
    <ng-container *ngTemplateOutlet="favoriteRef"> </ng-container>
  </div>
</div>
<div class="container-section">
  <mat-progress-bar
    [class.hidden-loading]="!loading"
    mode="indeterminate"
  ></mat-progress-bar>
  <div class="container-cards">
    <app-artist-card
      *ngFor="let data of artistList"
      [data]="data.artist"
      (openDetails)="openDetails($event)"
      (addFavorite)="addFavorite($event)"
    ></app-artist-card>
  </div>
</div>

<ng-template #favoriteRef>
  <button
    class="view-favorites"
    (click)="viewFavorites()"
    mat-icon-button
    matTooltip="View favorite list"
  >
    <mat-icon>
      {{ listType === ListType.favorites ? "favorite" : "favorite_border" }}
    </mat-icon>
  </button>
</ng-template>
