@import "../../../assets/theme.scss";
@import "../../../assets/mixins/media-querys";

.container-header {
  width: 100%;
  height: $height-header;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  .container-logo {
    display: flex;
    align-content: center;
    justify-content: center;
    background: linear-gradient(
      180deg,
      #2a295c 0%,
      #fbc3db 60%,
      $background-layout 100%
    );
  }

  .logo-img {
    width: 200px;
    filter: drop-shadow(3px 3px 4px $background-layout);
  }

  .power-by-container {
    align-self: center;
    display: flex;
    align-items: center;
    gap: 2px;

    span {
      color: gray;
    }

    .power-by-img {
      filter: contrast(0.4);
    }
  }
}

.container-search {
  display: flex;
  justify-content: space-between;
  height: $height-search;
  margin: $margin-height-search 0;

  .current-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
  }

  .container-favorites {
    text-align: end;

    &.desktop {
      display: initial;
    }

    &.mobile {
      display: none;
    }

    > * {
      margin-right: 60px;
    }
  }

  > * {
    width: 100%;
    max-width: 800px;
  }
}

.container-section {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  height: calc(
    100vh - #{$height-header} - #{$height-search} -
      (#{$margin-height-search} * 2)
  );
  overflow-y: auto;

  .hidden-loading {
    visibility: hidden;
  }
}

.container-cards {
  width: 100%;
  display: grid;
  padding: 1.5rem;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-auto-rows: 350px;
}

.view-favorites {
  color: $favorite-color;
}

@include phone-query {
  .container-header {
    height: inherit;

    .logo-img {
      width: 120px;
    }
  }

  .container-search {
    flex-direction: column;
    margin: 15px 0 0;
    height: inherit;

    .current-title {
      font-size: 25px;
      display: flex;
      justify-content: space-between;
      width: inherit;
      padding: 0 15px;
    }

    .container-favorites.desktop {
      display: none;
    }

    .container-favorites.mobile {
      display: initial;

      .view-favorites {
        margin-right: 0;
      }
    }
  }

  .container-section {
    min-height: calc(100vh - 279px);

    .container-cards {
      padding: 0.5rem;
    }
  }
}
