<div class="container-header">
  <div class="container-logo">
    <img
      class="logo-img"
      src="../../../assets/images/logo_aranda.png"
      alt="logo"
    />
  </div>
  <div class="power-by-container">
    <span>Power by</span>
    <img
      class="power-by-img"
      src="../../../assets/images/musixmatch.png"
      alt="logo"
    />
  </div>
</div>
<div class="container-search">
  <div class="current-title">
    {{ titleType[listType] }}
  </div>
  <app-search-bar (sendValue)="search($event)"></app-search-bar>
  <div class="container-favorites">
    <button
      class="view-favorites"
      (click)="viewFavorites()"
      mat-icon-button
      matTooltip="View favorite list"
    >
      <mat-icon> {{ listType === ListType.favorites ? "favorite" : "favorite_border" }} </mat-icon>
    </button>
  </div>
</div>
<div class="container-section">
  <div class="container-cards">
    <!-- <app-mask-loading [loading]="loading"></app-mask-loading>-->
    <app-artist-card
      *ngFor="let data of artistList"
      [data]="data.artist"
      (openDetails)="openDetails($event)"
      (addFavorite)="addFavorite($event)"
    ></app-artist-card>
  </div>
</div>
